{% load static %}

{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">


<h1>Список продуктов</h1>

<ul class="news-list">
    <!-- тут обращаемся к ключу во views.py который прописываем в нашем случае это blog -->

    {% for i in product %}
    <li class="news-card">
        <!-- Передача переменных из models.py name_blog -->
        <h3>{{ i.name_product }}</h3>
        <!-- Передача переменных из models.py image -->
        <img src="{{ i.image.url }}" alt="" width="300" height="400">
        <br>
        <!-- Передача переменных из models.py created_at -->
        <data>{{ i.created_at }}</data>
        <br>
        <!-- Передача ссылки на получение id - используем ссылку и i.id  -->
        <button><a href="/product_list/{{ i.id }}/">Читать далее</a></button>
    </li>
    {% endfor %}
</ul>

<h1>Категории</h1>

<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'category_products' category.id %}">
                {{ category.name_category }}
            </a>
        </li>
    {% endfor %}
</ul>

{% include '../footer.html' %}