{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<!-- Во всех двойных фигурных скобках - передаем ключ из views.py и названия поля из models.py -->
<div class="product-detail">

    <h1 class="product-title">{{ product_id.name_product }}</h1>

    <div class="product-media">
        <img src="{{ product_id.image.url }}" alt="{{ product_id.title }}">
    </div>

    <div class="product-info">
        <p class="product-description">{{ product_id.description }}</p>
        <p class="product-category">
            <strong>Категория:</strong> {{ product_id.Who_is_the_product_for }}
        </p>
        <p class="product-count">
            <strong>Количество:</strong> {{ product_id.count }}
        </p>
        <p class="product-price">
            <strong>Стоимость:</strong> {{ product_id.price }} сом
        </p>
        <data class="product-date">{{ product_id.created_at }}</data>
    </div>

</div>

<!-- Comments -->
<div class="comments">
    <h3 class="comments-title">Отзывы</h3>

    {% if product_id.review.all %}
        <ul class="comments-list">
            {% for i in product_id.review.all %}
                <li class="comment-item">
                    <p class="rating">
                        Оценка:
                        <span class="stars">{{ i.marks }}</span>
                    </p>

                    <p class="review-text">
                        {{ i.text }}
                    </p>

                    <p class="comment-date">
                        {{ i.created_ad }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-comments">Нет отзывов</p>
    {% endif %}
</div>

{% include '../footer.html' %}